.app {
  text-align: center;
}

.app-header {
  /* background-color: #6055ff; */
  background-color:#283B6A;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align:center;
  font-size: 30px;
  font-family: Quicksand;
  color: white;
}

.app-header-text{
  margin: 0px;
}

.main-content{
  padding-top: 100px;
  padding-bottom: 100px;
  background: rgb(75,26,238);
  background: linear-gradient(146deg, rgba(75,26,238,1) 0%, rgba(190,7,205,1) 100%);
}