.game-tile{
    width:66px;
    height:66px;
    padding:0px;
    border:none;
    margin: 5px;
    background-color:rgb(235, 227, 195);
    border-radius:5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor:pointer;
    text-align: center;
    float:left;
    line-height: 1;
}
.game-tile p {
    font-size:20px;
    /* position:absolute; */
    /* left:5px; */
}
.game-tile:hover{
    background-color:rgb(199, 189, 150);
}
.game-tile:active{
    background-color:rgb(51, 192, 58);
}

.highlight-button{
    background-color:rgb(51, 192, 58);
}
